<figure class="effect-portfolio wow fadeIn" data-wow-duration="4s">
  <img src="/img/albums/album_4/DSC02196.JPG" alt="Des mots"/>
  <figcaption>
    <h2>Des mots</h2>
    <a title="(2/12) Prison d'Alcatraz - USA" href="/img/albums/album_4/DSC00477.JPG" data-lightbox-gallery="gallery4" data-lightbox-hidpi="/img/albums/album_4/DSC00477.JPG"></a>
    <a title="(3/12) Bourgogne - France" href="/img/albums/album_4/DSC02196.JPG" data-lightbox-gallery="gallery4" data-lightbox-hidpi="/img/albums/album_4/DSC02196.JPG"></a>
    <a title="(4/12) Canton de Vaud - Suisse" href="/img/albums/album_4/DSC04650.jpg" data-lightbox-gallery="gallery4" data-lightbox-hidpi="/img/albums/album_4/DSC04650.jpg"></a>
    <a title="(5/12) Canton de Vaud - Suisse" href="/img/albums/album_4/DSC04651.jpg" data-lightbox-gallery="gallery4" data-lightbox-hidpi="/img/albums/album_4/DSC04651.jpg"></a>
    <a title="(6/12) Pékin - Chine" href="/img/albums/album_4/P1050139.JPG" data-lightbox-gallery="gallery4" data-lightbox-hidpi="/img/albums/album_4/P1050139.JPG"></a>
    <a title="(7/12) La Charité-sur-Loire - France" href="/img/albums/album_4/P1050451.JPG" data-lightbox-gallery="gallery4" data-lightbox-hidpi="/img/albums/album_4/P1050451.JPG"></a>
    <a title="(8/12) Dijon - France" href="/img/albums/album_4/P1050649.JPG" data-lightbox-gallery="gallery4" data-lightbox-hidpi="/img/albums/album_4/P1050649.JPG"></a>
    <a title="(9/12) Dijon - France" href="/img/albums/album_4/P1050661.JPG" data-lightbox-gallery="gallery4" data-lightbox-hidpi="/img/albums/album_4/P1050661.JPG"></a>
    <a title="(10/12) Abbaye de Romainmôtier - Suisse" href="/img/albums/album_4/P1070505.jpg" data-lightbox-gallery="gallery4" data-lightbox-hidpi="/img/albums/album_4/P1070505.jpg"></a>
    <a title="(11/12) Péninsule du Yucatan - Mexique" href="/img/albums/album_4/P1090460.JPG" data-lightbox-gallery="gallery4" data-lightbox-hidpi="/img/albums/album_4/P1090460.JPG"></a>
    <a title="(12/12) Genève - Suisse" href="/img/albums/album_4/P1090461.jpg" data-lightbox-gallery="gallery4" data-lightbox-hidpi="/img/albums/album_4/P1090461.jpg"></a>
    <a title="(1/12) San Francisco - USA" href="/img/albums/album_4/DSC00377.JPG" data-lightbox-gallery="gallery4" data-lightbox-hidpi="/img/albums/album_4/DSC00377.JPG"></a>
  </figcaption>
</figure>
