<figure class="effect-portfolio wow fadeIn" data-wow-duration="2s">
  <img src="/img/albums/album_2/P1040563.JPG" alt="Des hommes"/>
  <figcaption>
    <h2>Des Hommes</h2>
    <a title="(2/11) Village de Xidi - Chine" href="/img/albums/album_2/P1040563.JPG" data-lightbox-gallery="gallery2" data-lightbox-hidpi="/img/albums/album_2/P1040563.JPG"></a>
    <a title="(3/11) Shanghai - Chine" href="/img/albums/album_2/P1040815.JPG" data-lightbox-gallery="gallery2" data-lightbox-hidpi="/img/albums/album_2/P1040815.JPG"></a>
    <a title="(4/11) Village de Gordes - France" href="/img/albums/album_2/P1070628.jpg" data-lightbox-gallery="gallery2" data-lightbox-hidpi="/img/albums/album_2/P1070628.jpg"></a>
    <a title="(5/11) Berlin - Allemagne" href="/img/albums/album_2/P1070891.jpg" data-lightbox-gallery="gallery2" data-lightbox-hidpi="/img/albums/album_2/P1070891.jpg"></a>
    <a title="(6/11) Village de Xidi - Chine" href="/img/albums/album_2/P1040561.JPG" data-lightbox-gallery="gallery2" data-lightbox-hidpi="/img/albums/album_2/P1040561.JPG"></a>
    <a title="(7/11) Village de Xidi - Chine" href="/img/albums/album_2/P1040583.JPG" data-lightbox-gallery="gallery2" data-lightbox-hidpi="/img/albums/album_2/P1040583.JPG"></a>
    <a title="(8/11) San Francisco - USA" href="/img/albums/album_2/P1070009.JPG" data-lightbox-gallery="gallery2" data-lightbox-hidpi="/img/albums/album_2/P1070009.JPG"></a>
    <a title="(9/11) Berlin - Allemagne" href="/img/albums/album_2/P1070889.jpg" data-lightbox-gallery="gallery2" data-lightbox-hidpi="/img/albums/album_2/P1070889.jpg"></a>
    <a title="(10/11) Ile de Naxos - Grèce" href="/img/albums/album_2/P10708890.jpg" data-lightbox-gallery="gallery2" data-lightbox-hidpi="/img/albums/album_2/P10708890.jpg"></a>
    <a title="(11/11) Hôtel Bellagio Las Vegas - USA" href="/img/albums/album_2/P1070143.jpg" data-lightbox-gallery="gallery2" data-lightbox-hidpi="/img/albums/album_2/P1070143.jpg"></a>
    <a title="(1/11) San Francisco - USA" href="/img/albums/album_2/DSC00286-Version2.JPG" data-lightbox-gallery="gallery2" data-lightbox-hidpi="/img/albums/album_2/DSC00286-Version2.JPG"></a>
  </figcaption> <!-- End caption -->
</figure> <!-- End portfolio 2 -->
