<script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<script src="js/nivo-lightbox.min.js"></script>
<script>
  $('#portfolio a').nivoLightbox({
    effect: 'fade',
  });
</script>
<script src="js/wow.min.js"></script>
<script src="js/SmoothScroll.js"></script>
<script src="js/jquery.easing.min.js"></script>
<script src="js/cbpAnimatedHeader.js"></script>
<script src="js/classie.js"></script>
<script src="js/main.js"></script>
